{% extends 'momazos/base.html' %}
{% load static %}

{% block content %}
<article class="meme">
    <h5>by {{ meme.author }}</h5>
    <time class="date">
        {{ meme.date }}
    </time>
    <h3><a href="{% url 'meme_detail' meme.pk %}">{{ meme.description }}</a></h3>
    <img src="{{ meme.image.url }}" alt="{{ meme.description }}" class="meme-img">
    <div class="like-content">
    {% if request.user.is_authenticated %}
    <form action="{% url 'like_meme' meme.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="like-button">
            {% if request.user in meme.likes.all %}
                <img src="{% static 'img/likeoff.png' %}" alt="Unlike">
            {% else %}
                <img src="{% static 'img/likeon.png' %}" alt="Like">
            {% endif %}
        </button>
    </form>
    <form action="{% url 'dislike_meme' meme.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="dislike-button">
            {% if request.user in meme.dislikes.all %}
                <img src="{% static 'img/dislikeoff.png' %}" alt="Remove dislike">
            {% else %}
                <img src="{% static 'img/dislikeon.png' %}" alt="Dislike">
            {% endif %}
        </button>
    </form>
    {% else %}
        <img src="{% static 'img/likeoff.png' %}" alt="Likes" class="off-btn">
        <img src="{% static 'img/dislikeoff.png' %}" alt="Dislikes" class="off-btn">
    {% endif %}
    <p>Likes: <span id="likes-count">{{ meme.likes_count }}</span></p>
    <p>Dislikes: <span id="dislikes-count">{{ meme.dislikes_count }}</span></p>
    </div>
</article>
<article class="comment-box">
    <form method="post">
        {% csrf_token %}
        <textarea name="text" placeholder="Leave your comment!"></textarea>
        <button type="submit">Send</button>
    </form>
</article>
{% for comment in comments %}
<article class="comment">
    <time class="date">
        {{ comment.date }}
    </time>
    <h4>{{ comment.author }}</h4>
    <h5>{{ comment.text }}</h5>
    {% if comment.author == request.user %}
    <button>
        <a href="{% url 'delete_comment' comment.pk meme.pk %}">Delete</a>
    </button>
    {% endif %}
</article>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.like-button').click(function(event) {
            event.preventDefault();
            var url = $(this).closest('form').attr('action');
            var button = $(this);
            var csrftoken = $('[name=csrfmiddlewaretoken]').val();
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    csrfmiddlewaretoken: csrftoken
                },
                success: function(data) {
                    $('#likes-count').text(data.likes_count);
                    if (data.liked) {
                        button.find('img').attr('src', '{% static "img/likeon.png" %}');
                        button.attr('title', 'Unlike');
                        button.closest('form').attr('action', '{% url "like_meme" meme.id %}');
                    } else {
                        button.find('img').attr('src', '{% static "img/likeoff.png" %}');
                        button.attr('title', 'Like');
                        button.closest('form').attr('action', '{% url "like_meme" meme.id %}');
                    }
                }
            });
        });
        $('.dislike-button').click(function(event) {
            event.preventDefault();
            var url = $(this).closest('form').attr('action');
            var button = $(this);
            var csrftoken = $('[name=csrfmiddlewaretoken]').val();
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    csrfmiddlewaretoken: csrftoken
                },
                success: function(data) {
                    $('#dislikes-count').text(data.dislikes_count);
                    if (data.disliked) {
                        button.find('img').attr('src', '{% static "img/dislikeon.png" %}');
                        button.attr('title', 'Remove dislike');
                        button.closest('form').attr('action', '{% url "dislike_meme" meme.id %}');
                    } else {
                        button.find('img').attr('src', '{% static "img/dislikeoff.png" %}');
                        button.attr('title', 'Unlike');
                        button.closest('form').attr('action', '{% url "dislike_meme" meme.id %}');
                    }
                }
            });
        });
    });
</script>
{% endblock %}