{% extends 'momazos/base.html' %}

{% block content %}
<div class="settings">
    <button id="top-btn">
        <a href="{% url 'new_meme' %}">
            New meme
        </a>
    </button>
    <button>
        <a href="{% url 'new_username' %}">
            Change username
        </a>
    </button>
    <button>
        <a href="{% url 'new_password' %}">
            Change password
        </a>
    </button>
    <form method="post" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <button type="submit">
            Delete account
        </button>
    </form>
    <button>
        <a href="{% url 'manage_memes' %}">
            Manage memes
        </a>
    </button>
</div>
{% endblock %}