header {
    background-color:brown;
}

body{
    background-color: lightgrey;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 a {
    color: black;
    text-decoration: none;
    font-family: 'Lobster', cursive; 
}

.container img{
    width: 100px;
    height: auto;
    margin-left: 20px;
}