.login-container{
    margin-top: 50px;
}

.login-form {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form label {
    font-weight: bold;
}

.login-form button[type="submit"], .login-form button {
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button[type="submit"]:hover, .login-form button:hover {
    background-color: rgb(109, 29, 29);
}

.login-form button{
    margin-top: 10px;
}

.login-form button a{
    text-decoration: none;
    color: #fff;
}